.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
s
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.center {

  left: 50%;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.modal-line-item {
  padding-top: 10px
}

.App-header {
  padding-top: 10px;
  background-color: #6e7074;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  padding: 2px;
  border: 2px;
  text-align: center;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-top: 1px solid rgb(121, 119, 119);
  border-bottom: 1px solid rgb(121, 119, 119);
}

td, th {
  padding: 1rem 1.2rem; 
  
}

#border-separate {
  border-collapse: separate;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-fof {
  text-align: left
}

.list-group-item-kill-button {
  float: right;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.13);
  border-bottom: 1px solid
  rgba(0,0,0,.125);
  display: inline-block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 18rem;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
}

.modal-input-label {
  width: 8rem;
  text-align: right;
  padding-right: 1rem;
}

.modal-input-text {
  width: 60%
}

fieldset {
  text-align: center;
  margin: 10;
}

.radio-label {
  display: inline-block;
  padding-right: 1rem;
   
}
.radio-input {
  display: inline-block;
  vertical-align: center;
  padding-left: 1rem;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ffffff;
  height: 1px;
}