.Header {
  text-align: center;

}

.Banner-header {
  text-align: center;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  background-color: #8d3b3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  position: flex;
}

.Banner-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
